{% extends 'layout.html' %}

{% block h1 %}
	{% if mode == 'add' %}
	Add New Bookmarks
	{% elif mode == 'edit' %}
	Edit Bookmark
	{% endif %}
	<hr/>
{% endblock %}

{% block body %}
<div id="content" class="span12">
	<form action="" method="post">
		<label for="input-bookmarkUrl">Url</label>
		<input type="text" class="span6" name="bookmarkUrl" id="input-bookmarkUrl" value="{{ bookmark.bookmarkUrl }}" placeholder="http://www.someurl.com">
		<label for="input-bookmarkName">Title*</label>
		<input type="text" class="span6" name="bookmarkName" id="input-bookmarkName" value="{{ bookmark.bookmarkName }}" placeholder="">
		<label for="inputTags">Tags</label>
		<input type="text" name="tagName" id="inputTags" placeholder="e.g. stocks, cars">
		<input id="tags-add" class="btn" type="button" value="Add" />
		<ul id="tag-list"></ul>
		<label>Description</label>
		<div class="control-group">
			<textarea class="span8"id="text-bookmarkNotes" name="bookmarkNotes">{{ bookmark.bookmarkNotes }}</textarea>
		</div>
		<label>Bookmark Image</label>
		<div id="bookmark-images">
		{% if bookmark.bookmarkImage %}
			<img style="max-width: 150px"src="{{ bookmark.bookmarkImage }}"/>
		{% endif %}
		<a href="#" id="js-reload-images">Change Image</a>
		</div>

		{% if mode == 'edit' %}
		<input type="hidden" name="bookmarkID" value="{{ bookmark.bookmarkID }}">
		{% endif %}
		<input type="hidden" name="bookmarkToken" value="{{ bookmarkToken }}">
		<label class="checkbox" for="inputReadLater">
			<input type="hidden" name="bookmarkReadLater" value="0">
			<input type="checkbox" name="bookmarkReadLater" {% if bookmark.bookmarkReadLater %}checked="true"{% endif %} value="1" id="inputReadLater"> <div style="width: 70px;">Pin it <div class="itemlink-pin float"></div></div>
		</label>
		<div class="control-group">
			<input type="hidden" name="mode" value="{{ mode }}">
			<button type="submit" class="btn btn-primary">{% if mode == 'add'%}Submit{% else %}Update{% endif %}</button>
			<button type="button" class="btn btn-default" onclick="history.back();">Cancel</button>
			{% if mode == 'edit' %}- or - <a href="/bookmarks/delete/{{ bookmark.bookmarkID }}">Delete</a>{% endif %}
		</div>
	</form>
</div>
{% endblock %}
{% block footerscripts %}
<script src="/static/bootstrap-wysihtml5/js/wysihtml5-0.3.0.min.js"></script>
<script src="/static/bootstrap-wysihtml5/js/bootstrap-wysihtml5.js"></script>
<script id="tmpl-tags" type="text/x-jquery-tmpl">
    <li data-tagname="${tagName}">
    	${tagName}
    	&nbsp;<a href="#" class="tag-remove" title="Remove this tag"><span class="icon-remove-sign"></span></a>
    	<input type="hidden" name="tags" value="${tagName}"/>
    </li>
</script>
<script id="tmpl-images" type="text/x-jquery-tmpl">
{% raw %}
<ul id="image-list">
	{{each(i,image) content}}
	<li>
		<label for="image-${image.fileName}">
			<input type="radio" id="image-${i}" name="bookmarkImage" value="${image.src}"/>
			<img style="max-width: 150px"src="${image.src}"/>
		</label>
	</li>
	{{/each}}
</ul>
{% endraw %}
</script>
<script>
String.prototype.trim = function() {
    return this.replace(/^\s+|\s+$/g,"");
}

// IMAGES 
$(document).ready(function() {
	var token = $('input[name="bookmarkToken"]').val();
	var url = $('input[name="bookmarkUrl"]').val();
	var mode = $('input[name="mode"]').val();

	$('#text-bookmarkNotes').wysihtml5();

	$('#js-reload-images').on('click', function() {
		if (url) {
			getImages(token, url);
		}
		return false;
	});

	$('input[name="bookmarkUrl"]').on('change', function() {
		var token = $('input[name="bookmarkToken"]').val();
		var url = $('input[name="bookmarkUrl"]').val();

		if (url) {
			getImages(token, url);
		}
	});

	function getImages(token, url)
	{
		$('<span class="loading-images-icon">Loading images... &nbsp;<img src="/static/images/loading.gif" /></span>').appendTo('#bookmark-images');
		$.get('/api/getImages/'+token+'?url='+url, function(data) {
			var data = $.parseJSON(data);

			if (data.content && data.content.length > 0) {
				$("#bookmark-images").html("");
				$('#tmpl-images').tmpl(data).appendTo("#bookmark-images");
			} 
		}).always(function() {
			$('.loading-images-icon').remove();
		});
	}
});

// TAGS
$(document).ready(function() {
	$('#tags-add').on('click', function() {
		var tags = '';
		var tagList = [];
		var tagListNew = [];
		var tagListTemp = {}
		
		$('#tag-list li').each(function(key, value) {
			tagListTemp[$(this).data('tagname')] = $(this).data('tagname');
		});

		tags = $('#inputTags').val();
		tagList = tags.split(',');
		
		for(var i=0; i<tagList.length; i++) {
			if(tagList[i].trim() != '') {
				tagListTemp[tagList[i].trim()] = tagList[i].trim();
			}
		}

		for( key in tagListTemp) {
			tagListNew.push({tagName: tagListTemp[key]});
		}

		$('#tag-list').empty();
		$('#inputTags').val('');
		$('#tmpl-tags').tmpl(tagListNew).appendTo("#tag-list");
	})

	$('#tag-list').on('click', '.tag-remove', function() {
		$(this).parent('li').remove();
	});

	/* Get currently assign tags - edit mode*/
	{% if mode == 'edit' %}
	$.ajax({
		url: '/api/bookmarks/{{ bookmark.bookmarkID }}/tags', 
		dataType: 'json',
		success: function(data) {
			currentTags(data.content);
		} 
	});
	{% endif %}

	$('#input-bookmarkUrl').on('change', function() {
		var url = $('input[name="bookmarkUrl"]').val();
		if (url == '') {
			return false;
		}

		$('#input-bookmarkName').after('<span class="loading-title-icon">&nbsp;<img src="/static/images/loading.gif" /></span>');
		$.ajax({
			url: '/api/processUrl?url=' + url,
			dataType: 'json',
			success: function(data) {
				if(Object.keys(data).length > 0)
				{
					$('#tag-list li').remove(); // remove previous tags
					if(data.content && data.content.tags)
					{
						currentTags(data.content.tags); // apply tags
					}
					if(data.content && data.content.title)
					{
						$('#input-bookmarkName').val(data.content.title); // add title
					}
				}
				$('.loading-title-icon').remove()
			} 
		});
	});

	{% if mode == 'add' %}
	$('#input-bookmarkUrl').change();
	{% endif %}

	/* Get tags data for autocomplete */
	$.ajax({
		url: '/api/users/{{ common.getUserID() }}/tags', 
		dataType: 'json',
		success: function(data) {
			initialize(data.content)
		} 
	});


	function split( val ) {
	    return val.split( /,\s*/ );
	}
	function extractLast( term ) {
	    return split( term ).pop();
	}

	function currentTags(data) {
		var tagList = []
		for(var i=0; i<data.length; i++) {
			tagList.push({tagName: data[i].tagName});
		}
		$('#tmpl-tags').tmpl(tagList).appendTo("#tag-list");
	}

	function initialize(data) {

		var availableTags = [];

		$.each(data, function(key, value) {
			availableTags.push(value.tagName);
		});

		$("#inputTags").bind( "keydown", function( event ) {
		    if ( event.keyCode === $.ui.keyCode.TAB &&
		            $( this ).data( "autocomplete" ).menu.active ) {
		        event.preventDefault();
		    }
		}).autocomplete({
		    minLength: 0,
		    source: function( request, response ) {
		        // delegate back to autocomplete, but extract the last term
		        response( $.ui.autocomplete.filter(
		            availableTags, extractLast( request.term ) ) );
		    },
		    focus: function() {
		        // prevent value inserted on focus
		        return false;
		    },
		    select: function( event, ui ) {
		        var terms = split( this.value );
		        // remove the current input
		        terms.pop();
		        // add the selected item
		        terms.push( ui.item.value );
		        // add placeholder to get the comma-and-space at the end
		        terms.push( "" );
		        this.value = terms.join( ", " );
		        return false;
		    }
		});
	}
});
</script>
{% endblock %}
