{% extends 'layout.html' %}
{% from 'macros.html' import displayFeeds, displayBookmarks %}

{% block body %}
<div class="hidden-phone" id="panel-left">
{% if userFeeds %}
    <h4>My Feeds</h4>
    <ul id="userfeeds">
        {% for feed in userFeeds %}
        <li>
            <img src="https://plus.google.com/_/favicon?domain={{ feed.feedLink }}&alt=feed"/>&nbsp;
            <a href="/feed/{{ feed.feedID }}" class="tag">{{ feed.feedName|truncate(20) }}</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
<br/>
{% if allTags %}
    <h4>Bookmark Tags</h4>
    <ul id="alltags">
        {% for tag in allTags %}
        <li><a href="/?tag={{ tag.tagName|urlencode }}" class="tag"><span class="label" style="background-color: {{ tag.tagColor }};">{{ tag.tagName|truncate(20) }}</span></a>&nbsp;<span class="tag-totals">{{ tag.tagsTotals }}</span></li>
        {% endfor %}
    </ul>
{% endif %}
</div>
<div id="content" class="content-indent">
    <div id="search">
        <form class="form-search" action="/" method="get">
            <div class="input-append">
                <input type="text" class="span3 search-query" name="q" placeholder="Search...">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
    </div>
    {% if tagString %}
    <i>Using bookmark tag: <b>{{ tagString }}</b></i>
    {% elif searchString %}
    <i>Using search term: <b>{{ searchString }}</b></i>
    {% endif %}
    <div class="allitems">
        {% if feeds or searchMode %}
        <div class="container-list container-list-feeds">
            <h2>Recent Feeds</h2>
            <ul class="item-list">
                {{ displayFeeds(feeds, feedsColors, cdn_feeditems_url) }}
            </ul>
            {% if not feeds and searchMode %}<i>No feeds found matching search term.</i>{% endif %}
        </div>
        {% endif %}
        {% if bookmarksReadLater %}
        <div class="container-list container-list-pinned">
            <h2>Pinned Bookmarks</h2>
            <ul class="item-list">
                {{ displayBookmarks(bookmarksReadLater, tags, cdn_bookmarks_url) }}
            </ul>
            {% if not bookmarksReadLater %}<i>No pinned bookmarks found.</i>{% endif %}
        </div>
        {% endif %}
        {% if searchMode or bookmarks %}
        <div class="container-list container-list-allbookmarks">
            <h2>Matched Bookmarks</h2>
            <ul class="item-list">
                {{ displayBookmarks(bookmarks, tags, cdn_bookmarks_url) }}
            </ul>
            {% if not bookmarks and searchMode %}<i>No bookmarks found matching search term.</i>{% endif %}
        </div>
        {% endif %}
    </div>
</div>
<script src="/static/js/masonry/jquery.masonry.min.js"></script>
<script>
$(document).ready(function() {
    $('.item-list').masonry({
        itemSelector: 'li'
    });
});


$(window).load(function() {
    $('.item-list').masonry({
      itemSelector: 'li'
    });
});
</script>
{% endblock %}