{% extends 'layout.html' %}

{% block meta_title %}
{% endblock %}

{% block h1 %}
Edit Notes for {{ bookmark.bookmarkName }} 
{% endblock %}

{% block headscripts %}
	
{% endblock %}
{% block footerscripts %}
	<script src="/static/bootstrap-wysihtml5/js/wysihtml5-0.3.0.min.js"></script>
	<script src="/static/bootstrap-wysihtml5/js/bootstrap-wysihtml5.js"></script>
{% endblock %}

{% block body %}
<div id="content-fluid" class="span12">
	<form class="form-horizontal" action="" method="post">
		<div class="control-group">
			<textarea class="span8"id="text-bookmarkNotes" name="bookmarkNotes">{{ bookmark.bookmarkNotes }}</textarea>
		</div>
		<div class="control-group">
			<button type="submit" class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-default" onclick="history.back();">Cancel</button>
		</div>
	</form>
</div>
<script>
$(document).ready(function() {
	$('#text-bookmarkNotes').wysihtml5();
})
</script>
{% endblock %}