{% extends 'layout.html' %}

{% block body %}
<div id="content" class="feeditem span8">
	<h1><a href="{{ feedItem.itemUrl }}" target="_blank">{{ feedItem.itemTitle }}</a></h1>
	<div class="details">
		<div class="title"><img src="https://plus.google.com/_/favicon?domain={{ feed.feedUrl }}" />&nbsp;{{ feed.feedName }}</div>
		<div class="item-published">{{ feedItem.itemPublished.strftime('%b %d, %Y') }}</div>
		<ul class="item-actions">
			<li><a href="{{ url_for('add', url=feedItem.itemUrl) }}">Bookmark This</a></li>
			<li><a href="#">Mark As Unread</a></li>
			<li><a href="#">Read Later</a></li>
			<li><a href="{{ feedItem.itemUrl }}">Go To Original</a></li>
		</ul>
	</div>
	<div class="social-share">
		<span class='st_googleplus_large' displayText='Google +'></span>
		<span class='st_facebook_large' displayText='Facebook'></span>
		<span class='st_twitter_large' displayText='Tweet'></span>
		<span class='st_linkedin_large' displayText='LinkedIn'></span>
		<span class='st_pinterest_large' displayText='Pinterest'></span>
		<span class='st_email_large' displayText='Email'></span>
	</div>
	<div class="content">
		{% if feedItem.itemImage %}
			<p><img src="{{ feedItem.itemImage }}" /></p>
		{% endif %}
		{% if feedItem.itemVideo %}
			<p>{{ feedItem.itemVideo|safe }}</p>
		{% endif %}
		<p>{{ feedItem.itemSummary|format_content|safe }}</p>
	</div>
	<h3><a href="{{ feedItem.itemUrl }}" target="_blank">...Continue To Full Article Here</a></h3>
</div>
<script>

</script>
{% endblock %}