{% extends 'layout.html' %}
{% from 'macros.html' import displayFeeds %}

{% block h1 %}Most Recent Feeds From - <img src="https://plus.google.com/_/favicon?domain={{ feed.feedLink }}&alt=feed"/> {{ feed.feedTitle }}<hr/>{% endblock %}

{% block body %}
<div id="content">
	<div id="search">
        <form class="form-search" action="/" method="get">
            <div class="input-append">
                <input type="text" class="span3 search-query" name="q" placeholder="Search...">
                <button type="submit" class="btn">Search</button>
            </div>
        </form>
    </div>
	<div class="allitems">
        <div class="container-list container-list-feeds">
            <ul class="item-list">
            </ul>
        </div>
    </div>
</div>
<script src="/static/js/masonry/jquery.masonry.min.js"></script>
<script>
$(document).ready(function() {
    $('.item-list').masonry({
        itemSelector: 'li'
    });

    $(".lazy-image").lazyload({ 
        effect : "fadeIn"
    });

    $('.container-list .img-toggle').on('click', function() {
        toggleSections($(this));
    });

    $('.itemToggle').on('click', function() {
        var type = $(this).data('type');
        var id = $(this).data('id');
        var that = this;

        if(type == 'feedItem' && id)
        {
            $.get('/api/togglePinnedFeedItem/'+id, function(data) {
                toggleIcon(data, that);
            });
        }
        else if(type == 'bookmark' && id)
        {
            $.get('/api/togglePinnedBookmark/'+id, function(data) {
                toggleIcon(data, that);
            });
        }

        return false;
    });
});

function toggleIcon(data, that) {
    var data = $.parseJSON(data);
    if(data.content == 1)
    {
        $(that).find('div').attr('class', 'itemlink-pin');
    }
    else if(data.content == 0)
    {
        $(that).find('div').attr('class', 'itemlink-pin itemlink-off');
    }
}
$(window).load(function() {
    $('.item-list').masonry({
      itemSelector: 'li'
    });
    {% if searchMode %}
    $('.container-list-pinned .img-toggle').trigger('click');
    {% elif tagMode %}
    $('.container-list-pinned .img-toggle').trigger('click');
    $('.container-list-feeds .img-toggle').trigger('click');
    {% endif %}

    $('.lazy-image').each(function() {

        var lazy = $(this);
        var src = lazy.attr('data-src');
        console.log(src);

        $('<img>').attr('src', src).load(function(){
            lazy.find('img.spinner').remove();
            lazy.css('background-image', 'url("'+src+'")');
        });

    });
});
</script>
{% endblock %}