{% extends 'layout.html' %}

{% block h1 %}Manage RSS Feeds<hr/>{% endblock %}

{% macro displayFeeds(data) -%}
	{% for feed in data %}
	<tr class="">
		<td>
			<input type="checkbox" class="input-feedSubscribe" name="feedSubscribe" value="{{ feed.feedID }}" checked="true"/>
		</td>
		<td class="input-feedName">
			<div class="feed-title">
				<img src="https://plus.google.com/_/favicon?domain={{ feed.feedLink }}&alt=feed"/>&nbsp;<a href="/articles/{{ feed.feedID }}" title="View Entries">{{ feed.feedName|truncate(60) }}</a>
			</div>
			<div class="feed-description">
				{{ feed.feedSubtitle }}
			</div>
			<div class="feed-updatedon">
				{% if feed.feedUpdatedOn != None %}Update on {% endif %}<span class="feed-feedUpdatedOn">{% if feed.feedUpdatedOn != None %}{{ feed.feedUpdatedOnFormatted }}{% endif %}</span> <a class="feed-refresh" data-id="{{ feed.feedID }}" href="#">Refresh</a>
			</div>
			<input type="hidden" name="feedID" value="{{ feed.feedID }}"  />
		</td>
	</tr>
	{% endfor %}
{%- endmacro %}

{% block body %}
<div id="content" class="span8">
    <div id="search">
    	<h4>What are you looking for?</h4>
    	<form class="form-add" action="" method="post">
            <div class="input-append">
                <input type="text" class="span4" name="q" placeholder="Enter URL, website name or category" value="{{ url }}">
                <!-- <button type="button" class="btn">Search</button> -->
            </div>
        </form>
        <div id="feed-search-result-wrapper">
	        <ul id="feed-search-result">
	        </ul>
	    </div>
    </div>
    <h4>Feeds You Subscribed To</h4>
	<form method="post" action="" class="form-horizontal feed-manage-form">
		<div class="control-group">
			<button type="submit" class="btn btn-primary">Save Changes</button>
		</div>
		<table class="table table-condensed table-feeds">
			<tr>
				<th></th>
				<th>Feed Name</th>
			</tr>
			{{ displayFeeds(userFeeds) }}
		</table>
		<div class="control-group">
			<button type="submit" class="btn btn-primary">Save Changes</button>
		</div>
	</form>
</div>
{% raw %}
<script id="tmpl-search-result" type="text/x-jquery-tmpl">
{{each(i,feed) content}}
<li class="search-result-item" data-feedid="${feed.feedID}" data-feedurl="${feed.feedUrl}">
	<div class="search-result-name">
		<img src="https://plus.google.com/_/favicon?domain=${feed.feedLink}&alt=feed"/>
		<span>&nbsp;${feed.feedTitle}</span>
	</div>
	<div class="search-result-desc">
		${feed.feedSubtitle}
	</div>
	<div class="search-result-links">
		<ul>
			{{if feed.feedID }}
			<li><a href="/articles/${feed.feedID}" target="_blank">View Entries</a>&nbsp;&nbsp;</li>
			<li><a href="/source-subscribe?id=${feed.feedID}" >Subscribe</a></li>
			{{else}}
			<li><a href="/source-subscribe?url=${feed.feedUrl}" >Subscribe</a></li>
			{{/if}}
		</ul>
	</div>
</li>
{{/each}}
</script>
{% endraw %}
{% endblock %}

{% block footerscripts %}
<script src="/static/js/feed_search.js"></script>
{% endblock %}