{% extends 'layout.html' %}

{% block meta_description %}ResBit lets you organize your bookmarks and feeds.{% endblock %}

{% block body %}
<div id="container-narrow" class="center">
	<div class="main-callout">
		<div class="front-logo">
			<img src="/static/images/resbit-logo-small.png" />
		</div>
		<!--<h1>Welcome to ResBit! <br/>Stay On Top of The Web.</h1>-->
	</div>
	<div class="jumbotron">
        <h1>Coming Soon!</h1>
        <h2>Sign up to get notified when we launch!</h2>
        <form class="" action="/signup" method="post">
            <div class="control-group">
            	<input type="text" name="signupEmail" placeholder="Your email address">
            </div>
            	<button type="submit" class="btn btn-large btn-success">Notify Me</button>
        </form>
      </div>
	<div id="search-box">
		<h3>Check out already tracked websites</h3>
		<form method="post" class="form-add center">
			<div class="input-append">
		    	<input type="text" value="" placeholder="Enter website name, category, or url" name="q" class="span4">
		    	<submit class="btn" type="button">Go!</submit>
	    	</div>
		</form>
	</div>
	<div id="feed-search-result-wrapper">
        <ul id="feed-search-result">
        </ul>
    </div>
	<ul id="recent-items" class="item-list"></ul>
</div>
{% raw %}
<script src="/static/js/feed_search_tmpl.js" id="tmpl-search-result" type="text/x-jquery-tmpl">
{{each(i,feed) content}}
<li class="search-result-item" data-feedid="${feed.feedID}" data-feedurl="${feed.feedUrl}">
	<div class="search-result-name">
		<img src="https://plus.google.com/_/favicon?domain=${feed.feedLink}&alt=feed"/>
		<span>&nbsp;${feed.feedTitle}</span>
	</div>
	<div class="search-result-desc">
		${feed.feedSubtitle}
	</div>
	<div class="search-result-links">
		<ul>
			{{if feed.feedID }}
			<li><a href="/articles/${feed.feedID}" target="_blank">View Entries</a>&nbsp;&nbsp;</li>
			<li><a href="/source-subscribe?id=${feed.feedID}" >Subscribe</a></li>
			{{else}}
			<li><a href="/source-subscribe?url=${feed.feedUrl}" >Subscribe</a></li>
			{{/if}}
		</ul>
	</div>
</li>
{{/each}}
</script>
{% endraw %}
{% endblock %}

{% block headscripts %}
{% endblock %}

{% block footerscripts %}
<script src="/static/js/jquery.bxslider/jquery.bxslider.js"></script>
<script src="/static/js/feed_search.js"></script>
<script>
$(document).ready(function() {
	$('#recent-items').load('/api/getFrontPageItems', function() {
		$('#recent-items').bxSlider({
			auto: true,
			autoControls: false,
			maxSlides: 3,
			slideMargin: 0,
			slideWidth: 175,
			infiniteLoop: true,
			easing: 'ease-in',
			pager: false,
			autoHover: true,
			controls: false
		});
	});
});
</script>
{% endblock %}