<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <title>{% block meta_title %}Welcome to {{ settings.domain }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        <link rel="stylesheet" type="text/css" href="/static/js/jquery-ui-1.9.1.custom/css/ui-lightness/jquery-ui-1.9.1.custom.min.css"/>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        </style>
        <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-wysihtml5/css/bootstrap-wysihtml5.css"/>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">
            stLight.options({
                publisher: "cff53188-f79c-4874-b6ff-5fba0cf4f430", 
                doNotHash: false, 
                doNotCopy: false, 
                hashAddressBar: false
            });
        </script>
        {% block headscripts %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top ">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">ResBit</a>
                    {% if common.isLoggedIn() %}
                    <form class="navbar-search pull-left" action="{{ request.path }}" method="get">
                        <div class="input-append">
                            <input type="text" class="search-query" value="{% if searchString %}{{ searchString }}{% endif %}" name="q" placeholder="Search...">
                        </div>
                    </form>
                    {% endif %}
                    <div class="nav-collapse collapse">
                        <!-- The drop down menu -->
                        <ul class="nav">
                            {% if common.isLoggedIn() %}
                            <li class="active"><a href="/feeds/latest">Home</a></li>
                                    <li><a href="/bookmarks/add">Add Bookmark</a></li>
                                    <li><a href="/bookmarks/pinned">Bookmarks</a></li>
                                    <li><a href="/articles/latest">Recent Articles</a></li>
                                    <li><a href="/articles/readlater">To Read Later</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/bookmarks/tags">Manage Tags</a></li>
                                    <li><a href="/articles/sources">Manage Articles</a></li>
                                    <li><a href="/preferences">Preferences</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="nav pull-right">
                            {% if session.userName %}
                            <li><a href="/logout">Logout</a></li>
                            {% else %}
                            <!--<li><a href="#">Sign Up</a></li>-->
                            <li class="divider-vertical"></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In  <strong class="caret"></strong></a>
                                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                    <form class="" action="/login" method="post">
                                        <div class="control-group">
                                            <input type="text" name="userEmail" id="inputEmail" placeholder="Email">
                                            <input type="password" name="userPassword" id="inputPassword" placeholder="Password">
                                            <input type="hidden" value="{{ returnUrl }}" name="returnUrl"/>
                                        </div>
                                        <div class="control-group">
                                            <button type="submit" class="btn btn-primary">Sign In</button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h3>{% block h1 %}{% endblock %}</h3>
            {% if message %}
                {% for m in message %}
                    {% if m[0] == 'error' %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ m[1]|safe }}
                    </div>
                    {% else %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ m[1]|safe }}
                    </div>
                    {% endif %}
                {% endfor %}    
            {% endif %}        
            {% block body %}{% endblock %}
        </div> <!-- /container -->
        <div id="footer">
            <p>
                {{ settings.domain }}
            </p>
        </div>
    <script src="/static/js/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="/static/js/jquery.lazyload.min.js"></script>
    <script src="/static/js/jquery.tmpl.min.js"></script>  
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>  
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>  
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    {% block footerscripts %}{% endblock %}
    <script>
    $(function() {
        // Setup drop down menu
        $('.dropdown-toggle').dropdown();

        // Fix input element click problem
        $('.dropdown input, .dropdown label').click(function(e) {
        e.stopPropagation();
        });
    });
    </script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29775821-2']);
    _gaq.push(['_setDomainName', 'resbit.com']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.alert-success').fadeOut(1500);
        }, 2000);

        $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) { e.stopPropagation(); });
        
        $('.dropdown-toggle').dropdown();
    });
    </script>
    </body>
</html>
