
{% macro displayBookmarks(data) -%}
    {% for item in data %}
    <li data-id="{{ item.bookmarkID }}">
        <div class="item-title">
        {% if item.bookmarkUrl != '' %}
            <a href="{{ item.bookmarkUrl }}" target="_blank">{{ item.bookmarkName }}</a>
        {% else %}
            {{ item.bookmarkName }}
        {% endif %}
        </div>
        <div class="tag-list">
        {% for tag in item.tags %}
            <a href="/bookmarks?tag={{ tag.tagName }}" class="tag"><span class="label" style="background-color: {{ tag.tagColor }};">{{ tag.tagName }}</span></a>
        {% endfor %}
        </div>
        <div class="item-content">
            {% if item.bookmarkImage %}
            <a href="{{ item.bookmarkUrl }}" target="_blank">
                <div class="item-content-image lazy" data-original="{{ item.bookmarkImage|safe }}" style="background-image: url('')">
                </div>
            </a>
            {% endif %}
        </div>
        <div class="item-icons-wrapper">
            <div class="item-links">
                <a href="/bookmarks/edit/{{ item.bookmarkID }}" title="Edit This Resource"><div class="itemlink-edit">Edit Bookmark</div></a>&nbsp;&nbsp;
                {% if loggedIn %}
                <a href="#" class="itemToggle" data-type="bookmark" data-id="{{ item.bookmarkID }}" title="Pin/Unpin this item"><div class="itemlink-pin {% if not item.bookmarkReadLater %}itemlink-off{% endif %}"></div>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
{%- endmacro %}


{% macro displayFeeds(data, lazy=True) -%}
    {% for item in data %}
    <li data-id="{{ item.feedID }}" class="{% if item.itemPublished.strftime('%Y-%m-%d') == kwargs.get('today') %}item-focused{% endif %}">
        <div class="item-name"><img src="https://plus.google.com/_/favicon?domain={{ item.feedLink }}&alt=feed"/>&nbsp;{{ item.feedName|truncate(30) }}</div>
        <div class="item-title">
            <a href="/article/{{ item.itemID }}" >{{ item.itemTitle|safe }}</a>
        </div>
        <div class="item-details">
            <span class="item-published">{% if item.itemPublished %}{{ item.itemPublished.strftime('%b %d, %Y') }}{% endif %}</span>
        </div>
        <div class="item-content">
            {% if item.itemImage %}
            <a href="/article/{{ item.itemID }}">
                <div class="item-content-image {% if lazy %}lazy{% endif %}" {% if lazy %}data-original="{{ item.itemImage|safe }}"{% endif %} style="background-image: url({% if lazy %}''{% else %}{{item.itemImage|safe}}{%endif%})">
                </div>
            </a>
            {% endif %}
        </div>
        <div class="item-icons-wrapper">
            <div class="item-links">
                &nbsp;<a href="/bookmarks/add?url={{ item.itemUrl|safe }}" title="Add To Bookmarks">Bookmark This</a>&nbsp;
                {% if loggedIn %}
                <a href="#" class="itemToggle" data-type="feedItem" data-id="{{ item.itemID }}" title="Pin/Unpin this item"><div class="itemlink-pin {% if not item.userItemPinned %}itemlink-off{% endif %}"></div></a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
{%- endmacro %}
