{% extends 'layout.html' %}
{% from 'macros.html' import displayFeeds, displayBookmarks %}

{% block body %}
<div class="hidden-phone" id="panel-left">
{% if userFeeds %}
    <h4>Tracked Websites</h4>
    <ul id="userfeeds">
        {% for feed in userFeeds %}
        <li>
            <img src="https://plus.google.com/_/favicon?domain={{ feed.feedLink }}&alt=feed"/>&nbsp;
            <a href="/articles/{{ feed.feedID }}" class="tag" title="{{ feed.feedTitle }}">{{ feed.feedTitle|truncate(15) }}</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}
<br/>
{% if allTags %}
    <h4>Bookmarks By Tag</h4>
    <ul id="alltags">
        {% for tag in allTags %}
        <li><a href="/bookmarks?tag={{ tag.tagName|urlencode }}" class="tag"><span class="label" style="background-color: {{ tag.tagColor }};" title="{{ tag.tagName }}">{{ tag.tagName|truncate(20) }}</span></a></li>
        {% endfor %}
    </ul>
{% endif %}
</div>
<div id="content" class="content-indent">
    {% if tagString %}
    <i>Using bookmark tag: <b>{{ tagString }}</b></i>
    {% elif searchString %}
    <i>Using search term: <b>{{ searchString }}</b></i>
    {% endif %}
    <div class="allitems">
        {{ items|safe }}
    </div>
</div>
<script src="/static/js/masonry/jquery.masonry.min.js"></script>
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<script>
function toggleIcon(data, that) {
    var data = $.parseJSON(data);
    if(data.content == 1)
    {
        $(that).find('div').attr('class', 'itemlink-pin');
    }
    else if(data.content == 0)
    {
        $(that).find('div').attr('class', 'itemlink-pin itemlink-off');
    }
}

$(document).ready(function() {
    $('.item-list').masonry({
        itemSelector: 'li'
    });

    $('.itemToggle').on('click', function() {
        var type = $(this).data('type');
        var id = $(this).data('id');
        var that = this;

        if(type == 'feedItem' && id)
        {
            $.get('/api/togglePinnedFeedItem/'+id, function(data) {
                toggleIcon(data, that);
            });
        }
        else if(type == 'bookmark' && id)
        {
            $.get('/api/togglePinnedBookmark/'+id, function(data) {
                toggleIcon(data, that);
            });
        }

        return false;
    });
});


$(window).load(function() {
    $('.item-list').masonry({
      itemSelector: 'li'
    });
});
</script>
{% endblock %}