{% extends 'layout.html' %}

{% block meta_title %}
Create New Account
{% endblock %}

{% block h1 %}
Create New Account
{% endblock %}

{% block body %}
<div id="content" class="span12">
	<form class="form-horizontal" action="/register" method="post" autocomplete="off">
		<div class="control-group">
			<label class="control-label" for="input-userEmail">Email*</label>
			<div class="controls">
				<input type="text" class="span4" name="userEmail" id="input-userEmail" value="{{ userEmail|default('', true) }}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input-userPassword">Password*</label>
			<div class="controls">
				<input type="password" class="span4" name="userPassword" id="input-userPassword" value="" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Create Account</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}