{% extends 'layout.html' %}

{% block h1 %}
Reset Password
{% endblock %}

{% block body %}
<div id="content" class="span12">
	{% if mode == 'resetRequest' %}
	<p>
	Please enter your email address and you will be sent password reset instructions shortly.
	</p>
	<form action="/resetpassword" method="post">
		<div class="control-group">
			<div class="controls">
				<input type="text" class="span4" name="userEmail" id="input-userEmail" value="" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">Request Password Reset</button>
			</div>
		</div>
	</form>
	{% elif mode == 'resetContinue' %}
	<form action="/resetpassword" method="post">
		<div class="control-group">
			<div class="controls">
				<label>New Password:</label>
				<input type="password" class="span2" name="userPassword" id="input-userPassword" value="" />
			</div>
			<div class="controls">
				<label>New Password Repeat:</label>
				<input type="password" class="span2" name="userPasswordRepeat" id="input-userPasswordRepeat" value="" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="hidden" name="token" value="{{ token|e }}" />
				<button type="submit" class="btn btn-primary">Reset My Password</button>
			</div>
		</div>
	</form>
	{% endif %}
</div>
{% endblock %}