{% extends 'layout.html' %}

{% block h1 %}Manage Tags<hr/>{% endblock %}

{% block headscripts %}
<link href="/static/jquery-miniColors/jquery.miniColors.css" rel="stylesheet">
{% endblock %}
{% block footerscripts %}
<script src="/static/jquery-miniColors/jquery.miniColors.min.js"></script>
{% endblock %}

{% block body %}
{{ debug }}
<div id="content" class="span6">
	<form method="post" action="" class="form-horizontal">
		<div class="control-group">
			<input type="submit" class="btn btn-primary" value="Save Changes" />
		</div>
		<table class="table table-condensed table-hover">
			<tr>
				<th>Tag Name</th>
				<th>Items Tagged</th>
				<th>Color</th>
				<th>Delete Tag</th>
			</tr>
			{% for tag in tags %}
				<tr>
					<td class="input-tagName">
						<input type="text" name="tagName" class="span3" value="{{ tag.tagName }}" />
					</td>
					<td>{{ tag.tagsTotals }}</td>
					<td>
						<input type="hidden" class="input-tagColor" name="tagColor" value="{{ tag.tagColor }}" />
						<input type="hidden" name="tagID" value="{{ tag.tagID }}" />
					</td>
					<td>
						<input type="checkbox" class="input-tagDelete" name="tagDelete" value="{{ tag.tagID }}" />
					</td>
				</tr>
			{% endfor %}
		</table>
		<div class="control-group">
			<input type="submit" class="btn btn-primary" value="Save Changes" />
		</div>
	</form>
</div>
<script>
$(document).ready(function() {
	$('.input-tagColor').miniColors();
	$('tr').one('click', function() {
		var tagNameSel = $(this).find('.input-tagName');
		var submitSel = $(this).find('.input-submit');
		// addInput(tagNameSel, $(tagNameSel).html());
	});

	$('.btn-primary').on('click', function() {

		if($('.input-tagDelete:checked').length > 0)
		{
			var confirmAction = confirm('One or more tags were selected for deletion. This action cannot be undone. Are you sure?');

			if(confirmAction)
			{
				return;
			}
			
			return false;
		}
	});
})
</script>
{% endblock %}