{% from 'macros.html' import displayFeeds %}

{% if feeds %}
{% if mode == 'feeds_latest' %}
<h1 class="newspaper-heading">{{ title }} <span class="date">{{ today_human }}</span></h1>
{% else %}
<h1 class="newspaper-heading">{{ title }}</h1>
{% endif %}
<div class="container-list">
    <ul class="item-list">
        {{ displayFeeds(feeds) }}
    </ul>
    {% if not feeds %}<i>No items found.</i>{% endif %}
</div>

{% if feedsOld and mode == 'feeds_latest' %}
<h1 class="newspaper-heading">Older articles</h1>
<div class="container-list">
    <ul class="item-list">
        {{ displayFeeds(feedsOld) }}
    </ul>
</div>
{% endif %}

<script>
function resize_item_content() {
    var width = $('.container-list').width();
    if (width > 600) {
        return 600;
    } else {
        return width - 20;
    }
}
$(document).ready(function() {

    $(window).resize(function() {
        $('#item-content').width(600).height($(window).height());
        $('#item-content .content').width(600).height($('#item-content').height() - 40);
    });

    $(".lazy").show().lazyload({ 
        effect : "fadeIn",
        load: function() { 
            var src = $(this).attr('data-original');
            $(this).css('background-image', 'url("'+src+'")') ;
        }
    }); 
});

$(window).load(function() {
    $('.lazy-image').each(function() {
        var lazy = $(this);
        var src = lazy.attr('data-original');

        $(this).parent().attr('src', src).load(function(){
            $(this).css('background-image', 'url("'+src+'")');
        });
    });
});
</script>
{% endif %}
