{% from 'macros.html' import displayBookmarks %}

{% if bookmarks %}
<h2>{{ title }}</h2>
<div class="container-list">
    <ul class="item-list">
        {{ displayBookmarks(bookmarks) }}
    </ul>
    {% if not bookmarks %}<i>No pinned bookmarks found.</i>{% endif %}
</div>
<script>
$(document).ready(function() {
	$(".lazy").show().lazyload({ 
	    effect : "fadeIn",
	    load: function() { 
	    	var src = $(this).attr('data-original');
	    	$(this).css('background-image', 'url("'+src+'")') ;
	    }
	});	
});
$(window).load(function() {
	$('.lazy-image').each(function() {

        var lazy = $(this);
        var src = lazy.attr('data-original');

        $(this).parent().attr('src', src).load(function(){
            // lazy.find('img.spinner').remove();
            $(this).css('background-image', 'url("'+src+'")');
        });

    });
});
</script>
{% endif %}
