body {
	background-color: #F7F5F2;
	background-image: url('/static/images/bg.png');
}


@font-face {
    font-family: 'opensans-light';
    src: url('/static/fonts/opensans/opensans-light-webfont.eot');
    src: url('/static/fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/opensans/opensans-light-webfont.woff') format('woff'),
         url('/static/fonts/opensans/opensans-light-webfont.ttf') format('truetype'),
         url('/static/fonts/opensans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans';
    src: url('/static/fonts/opensans/opensans-regular-webfont.eot');
    src: url('/static/fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('/static/fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3, h4 {
	font-family: opensans-light;
	font-weight: normal;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 28px;	
}
h3 {
	font-size: 24px;	
}
h4 {
	font-size: 20px;	
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container-fluid {
	margin-bottom: 40px;
}
#item-content {
	background-color: #FFFFFF;
    border: 5px solid #e0e0e0;
    border-bottom: none;
    bottom: 20px;
    top: 40px;
    height: 400px;
    margin-left: 20px;
    position: absolute;
    width: 200px;
}
#item-content .close {
	float: right;
	margin: 5px;
	width: 100%;
}
#item-content .content {
	padding: 20px;
	overflow-y: scroll;
	position: relative;
}
.item-list 			{
	list-style: none; 
	padding: 0; 
	margin: 0; 
	font-size: 12px;
}
.item-list a 			{}
.item-list li 			{
	border-right: solid 1px #E0E0E0; 
	border-bottom: solid 1px #E0E0E0;
	border-top: solid 1px #EDEAE6;
	border-left: solid 1px #EDEAE6;
	border-radius: 2px;
	background-color: #fff; 
	border-color: #EDEAE6;
	border-width: 5px;
	width: 175px;
	float: left; 
	margin: 10px; 
	/*box-shadow: 0 1px 2px #CCCCCC;*/
	/*-moz-box-sizing: border-box;*/
}
.item-list li:hover 	{
	background-color: #FCF8DE;
}
.item-list .item-icons-wrapper {
	background-color: #EDEAE6;
	height: 20px;
	padding: 2px;
	border-top: 1px solid #e2e2e2;
}
.item-list .item-icons {
	display: none;
}
.item-list .item-links {
}
.item-list .item-links a {
	color: #CCC;
	text-decoration: underline;
}
.item-list .item-links a:hover {
	color: #0088CC;
	text-decoration: underline;
}
.item-list .item-focused {
	border: 5px solid #EDEAE6 !important;
}
.item-list .tag-list {
	padding: 3px;
}
.item-list .tag-list .tag {
	opacity: 0.5;
}
.item-list .tags-list .tag:hover {
	opacity: 1;
}
.item-list .item-title	{
	margin: 6px;
	line-height: 16px;
}
.item-list .item-name {
	margin: 6px;
	font-weight: bold;
}
.item-list .item-name img {
	float: left;
}
.item-list .item-content-image {
	height: 150px; 
	background-size: 175px;
	background-position: 50% 30%;
	background-repeat: no-repeat;
}
.item-list .item-details {
	margin: 0px 6px 0px 6px;
	color: #999;
	font-size: 0.8em;
}
.item-list .item-published {

}
.lazy {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.label-tag 					{background-color: #0088CC;}
.tag-totals					{font-size: 0.8em; font-weight: bold; color: #999;}
#panel-left	{
	width: 170px; 
	float: left;
	margin-right: 20px;
}
#footer	{
	bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #EDEAE6;
    color: #999999;
    text-align: center;
    border-top: 1px solid #ccc;
}
#footer p {
	margin: 10px;
}
.footer-nav {
}
.footer-nav li {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	padding-right: 10px;
}
#text-bookmarkNotes			{height: 400px;}
#alltags 					{list-style: none; padding: 0; margin: 0;}
#alltags li {
	float: left;
	margin: 2px 3px 2px 3px;
}
#userfeeds					{list-style: none; padding: 0; margin: 0;}
#userfeeds li img				{width: 16px;}
#tags-add					{margin-bottom: 10px;}
/*#preview 					{position: absolute; top: 60px;}*/
/*#preview.fixed 				{position: fixed; top: 60px;}*/
#panel-right				{position: absolute; right: 10px; top: 0; width: 400px;}
#container-narrow 			{margin: 0 auto; max-width: 770px;}
#login-box					{margin: 0 auto; max-width: 200px;}
#search-box					{text-align: center;}
.main-callout 				{margin: 30px 0; text-align: center;}
.container-list 			{overflow: hidden;}
.content-indent 			{padding-left: 170px;}
#bookmark-images {
	margin-top: 10px; 
	margin-bottom: 20px;
	overflow: hidden;
}
#image-list {
	list-style:none;
	padding: 0;
	margin: 0;
	clear: both;
}
#image-list li {
	margin: 5px;
	float: left;
}
#preview {
	margin: 10px;
}
#preview img {
	border: 8px #e2e2e2 solid;
	padding: 5px;
}
@media (max-width: 767px) {
	#content { 
		padding-left: 0;
	}
}

@media (max-width: 400px) {
	.item-list li {
		width: 92%;
	}
}

.itemlink-off {
	opacity: 0.3;
}

.itemlink-edit {
	float: left;
}

.itemlink-pin {
	background-image: url('/static/images/glyphicons/glyphicons_335_pushpin_16.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 2px;
	float: right;
}

.itemlink-notes {
	background-image: url('/static/images/glyphicons/glyphicons_309_comments_16.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin: 2px;
}

.table-feeds tr.subscribed {
	background-color: #FCF8DE;
}

#frame-feeditem {
	width: 100%;
	height: 600px;
	border: none;
	padding: 0;
	margin: 0;
}

#feed-search-result-wrapper {
	margin-bottom: 20px;
}

.feed-title {
	font-weight: bold;
}

.feed-title img {
	width: 16px;
}

.feed-description {
	margin-top: 5px;
	margin-bottom: 10px;
}

.feed-updatedon {
	font-size: 0.8em;
}

.feed-manage-form td, .feed-manage-form th {
	background-color: #fff;
}

li.search-result-item {
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	overflow: hidden;
}

li .search-result-name {
	font-weight: bold;
}

.search-result-links li {
	float: left;
}

/* feedItem */
.feeditem {
	float: none;
	margin: 0 auto;
}
.feeditem .content {
	float
}
.feeditem .details {
	float: left;
	width: 100%;
}
.feeditem .details ul {
	float: left;
}
.feeditem .details ul li {
	float: left;
	margin-right: 15px;
}

@media (max-width: 1200px) {
    #content { 
        padding-left: 0;
    }
    .newspaper {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .newspaper-heading .date {
        display: none;
    }
}
.newspaper-heading {
    padding: 5px;
    border-width: 1px 0 1px 0;
    border-color: #ccc;
    border-style: solid;
}
.newspaper-heading .date {
    float: right;
}

.bx-wrapper {
	max-width: 615px !important;
}

ul.bxslider {
    list-style:none;
    margin:0;
    padding:0
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
}